@charset "utf-8";
/* CSS Document */
/*--------------Commen------------------*/
html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead{margin:0;padding:0;border:0;outline:0;font-weight:inherit;text-decoration: none;list-style-type: none;}a:focus{outline:none}
a{blr:expression(onFocus=this.blur());font-family:"宋体";}
.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}
.clearfix{clear:both;}
.left{ float:left;}
.right{ float:right;}
.hand{ cursor:pointer;}
body{margin:0;padding:0;}
.hidden{ overflow:hidden;}
#Container{ width:100%; margin:0px auto; background-color:#f6f6f6;}
h1{ font-size:14px; font-weight:bold; color:#547506;}
h2{ font-size:14px; font-weight:bold; color:#383838;}
h3{ font-size:14px; font-weight:bold; color:#fff;}
h4{ font-size:14px; font-weight:bold; color:#5E74B1;}
h5{ font-size:14px; font-weight:bold; color:#7EA80B;}
h6{ font-size:14px; font-weight:bold; color:#FBBD00;}
b{ font-size:14px; font-weight:bold; color:#FBBD00;}
/*strong{ font-size:14px; font-weight:bold; color:#80AA0A;}*/
.commenborder{ border:1px solid #E1E1E1;border-bottom:none;border-top:none;}
.borderpic{ padding:2px; border:1px solid #E1E1E1;}
.bordergreen{ padding:2px; border:1px solid #A1C24F;}
.commentop{ margin-top:9px;}
#Width{ width:1004px; margin:0px auto;background-color:#FFF;overflow:hidden;}
#Top{width:1004px; margin:0px auto;}
#Content{ width:976px; margin:0px 14px 0px 14px;}
.leftwidth{ width:647px; float:left;}
.rightwidth{ width:319px; float:right;}
.on{ display:block;}
.off{ display:none;}
/*--------------linktext------------------*/
a.linktext:link{ text-decoration:none;}
a.linktext:visited{text-decoration:none;}
a.linktext:hover{text-decoration:underline;}
a.linktext:active{text-decoration:none;}
a.Growing:link{ background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:6px; font-size:12px;color:#383838; line-height:20px;}
a.Growing:visited{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:6px;font-size:12px;color:#383838;line-height:20px;}
a.Growing:hover{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:6px;font-size:12px;color:#FFA800;line-height:20px;}
a.Growing:active{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:6px;font-size:12px;color:#383838;line-height:20px;}
a.Navtext:link{ text-decoration:none; font-size:14px; color:#86590B; line-height:34px;}
a.Navtext:visited{text-decoration:none;font-size:14px; color:#86590B;line-height:34px;}
a.Navtext:hover{text-decoration:underline;font-size:14px; color:#F7F4EE;line-height:34px;}
a.Navtext:active{text-decoration:none;font-size:14px; color:#86590B;line-height:34px;}
a.Garden:link{ background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:7px; font-size:14px;color:#fff; line-height:23px;}
a.Garden:visited{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:7px;font-size:14px;color:#fff;line-height:23px;}
a.Garden:hover{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:7px;font-size:14px;color:#FFA800;line-height:23px;}
a.Garden:active{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:7px;font-size:14px;color:#fff;line-height:23px;}
a.Expresstrain:link{ background:url(/images/green.gif) no-repeat left center;padding-left:10px; font-size:14px;color:#383838; line-height:24px;}
a.Expresstrain:visited{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#383838;line-height:24px;}
a.Expresstrain:hover{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#7EA80B;line-height:24px;}
a.Expresstrain:active{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#383838;line-height:24px;}
a.Homeactivity:link{ background:url(/images/green.gif) no-repeat left center;padding-left:10px; font-size:14px;color:#767676; line-height:26px;}
a.Homeactivity:visited{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#767676;line-height:26px;}
a.Homeactivity:hover{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#7EA80B;line-height:26px;}
a.Homeactivity:active{background:url(/images/green.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#767676;line-height:26px;}
a.Nutrition:link{ background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:10px; font-size:14px;color:#383838; line-height:25px;}
a.Nutrition:visited{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#383838;line-height:25px;}
a.Nutrition:hover{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#FBBD00;line-height:25px;}
a.Nutrition:active{background:url(/images/newslist_sign.gif) no-repeat left center;padding-left:10px;font-size:14px;color:#383838;line-height:25px;}
a.Commen:link{ background:url(/images/blue.gif) no-repeat left center;  padding-left:10px; font-size:14px;color:#383838; line-height:25px;}
a.Commen:visited{background:url(/images/blue.gif) no-repeat left center; padding-left:10px;font-size:14px;color:#383838;line-height:25px;}
a.Commen:hover{background:url(/images/blue.gif) no-repeat left center;  padding-left:10px;font-size:14px;color:#1175C1;line-height:25px;}
a.Commen:active{background:url(/images/blue.gif) no-repeat left center;   padding-left:10px;font-size:14px;color:#383838;line-height:25px;}
a.Small:link{ background:url(/images/red.gif) no-repeat left center;  padding-left:10px; font-size:14px;color:#383838; line-height:25px;}
a.Small:visited{background:url(/images/red.gif) no-repeat left center; padding-left:10px;font-size:14px;color:#383838;line-height:25px;}
a.Small:hover{background:url(/images/red.gif) no-repeat left center;  padding-left:10px;font-size:14px;color:#CB110F;line-height:25px;}
a.Small:active{background:url(/images/red.gif) no-repeat left center;   padding-left:10px;font-size:14px;color:#383838;line-height:25px;}

/*-----------Header----------*/
.header{ width:1004px; height:263px;}
.headtopfrm{ width:100%; height:33px;background:url(/images/headtop_bg.jpg) repeat-x top;}
.headtop{width:1004px;height:30px; padding-top:3px;margin:0 auto;}
.headtop .left a{ padding:10px; color:#5a9800; font-size:12px; line-height:30px;}
.headtop .left a:hover{ font-weight:bold;}
.headtop .right a{ padding:10px; color:#5a9800; font-size:12px; line-height:30px;}
.headtop .right a:hover{ font-weight:bold;}
.headtop .logo{ float:left;}
.headtop .logo img{}
.header .linkfrm{ float:left; width:1004px; height:63px;}
.header .linkfrm dl{float:left;display:inline;}
.header .linkfrm dl a{color:#297fa8;}
.header .linkfrm dl a:hover{ color:#5a9800;}
.header .linkfrm dl dt{float:left;line-height:24px;}
.header .linkfrm dl dt a{ font-weight:bold;  font-size:13px;}
.header .linkfrm dl dd{float:left;line-height:24px; padding:0 4px; display:inline;}
.header .linkfrm dl dd a{font-size:12px;}
.links1,.links2,.links3,.links4,.links5{float:left; padding-top:2px;  padding-top:5px\9; display:inline;}
.links1,.links2,.links3,.links4{ background:url(/images/headerline.jpg) no-repeat right top;}
.links1{width:298px;}.links2{width:225px;}.links3{width:259px;}.links4{width:142px;}.links5{width:80px;}
.links1 dl{width:288px;padding-left:10px;}
.links2 dl{width:209px;padding-left:16px;}
.links3 dl{width:244px;padding-left:15px;}
.links4 dl{width:127px;padding-left:15px;}
.links5 dl{width:65px;padding-left:15px;}
.links1 dl dt{width:50px;}
.links2 dl dt{width:60px;}
.links3 dl dt{width:60px;}
.links4 dl dt{width:35px;}
.header .linkfrm .links4 dl dd{ padding-right:0;}
.links5 dl dt{width:60px;}
.pagelogo{float:left; width:206px; height:200px;}
.headbanner1{ float:left; width:581px; height:100px;}
.headbanner1 img{width:581px; height:100px;}
.headbanner2{float:left; margin:0 0 0 13px; display:inline; width:201px; height:100px;}
.headbanner2{width:201px; height:100px;}
.navfrm{ float:left; width:780px; padding:18px 0 0 10px; display:inline;}
.navtop{ float:left;width:780px;}
.navtop .left{ width:400px; font-size:12px; line-height:24px;color:#c7f6ff; padding-top:4px;}
.navtop .left a{ color:#c7f6ff; padding:0 8px 0 7px; background:url(/images/fenge.jpg) no-repeat right center;background:url(/images/fenge.jpg) no-repeat right top\9;}
.navtop .left a:hover{ color:#FFF;}
.navtop .left a.nobg{background:url(/images/fenge.jpg) no-repeat -1000px;}
.navtop .search{ float:right; width:210px;}
.navtop .search div{ float:left; overflow:hidden;}
.navtop .search .sousuo{ width:50px; text-align:center;line-height:29px; font-size:16px; font-weight:bold; color:#fff;}
.navtop .search .txt{ width:127px; height:29px;background:url(/images/hsbg.gif) no-repeat left top;}
.navtop .search .btn{ width:29px; height:29px;  _padding-top:1px;}
.h_searchtxt{ background:transparent; width:127px; height:29px; border:none; color:#8d8d8d; font-weight:bold; font-size:14px; line-height:29px; }
.navfrm .nav{ float:left;width:780px; padding-top:4px;}
.navfrm .nav a{ float:left; color:#e8f0f6; font-size:13px; line-height:30px; padding:0 10px; padding:0 9px\9; font-weight:bold; display:inline;}
.navfrm .nav a:hover{color:#fff;}
#czls_header{ background:url(/images/czlshead_bg.jpg) no-repeat left -33px;}
#xjz_header{ background:url(/images/xjzhead_bg_02.jpg) no-repeat left -33px;}
#xjz_header .navfrm .nav a{padding:0 7px; padding:0 6px\9;}
#yxzx_header{ background:url(/images/yxzxhead_bg.jpg) no-repeat left -33px;}
#yxzx_header .navfrm .nav a{padding:0 13px; padding:0 12px\9;}
#xxez_header{ background:url(/images/xxezhead_bg.jpg) no-repeat left -33px;}
#detail_header .navtop .left a,#tpzx_header .navtop .left a,#xxez_header .navtop .left a,#tpzx_header .navtop .left a,#jsyd_header .navtop .left a,#wskt_header .navtop .left a,#gxt_header .navtop .left a,#jzxt_header .navtop .left a,#lyxt_header .navtop .left a,#mdsn_header .navtop .left a,#shgy_header .navtop .left a{ color:#f9fee4;background: url(/images/fenge_green.jpg) no-repeat right center;background:url(/images/fenge_green.jpg) no-repeat right top\9;}
#detail_header .navfrm .nav a,#xxez_header .navfrm .nav a,#tpzx_header .navfrm .nav a{ color:#f2f5e9;padding:0 12px; padding:0 11px\9;}
#xxez_header .navfrm .nav a:hover,#tpzx_header .navfrm .nav a:hover{ color:#FFF;}
#Top .header .navtop .left a.nobg{background:url(/images/fenge.jpg) no-repeat -1000px;}
#Top .header .navtop .left a:hover{ color:#FFF; font-weight:bold;}
#tpzx_header{ background:url(/images/tpzxhead_bg.jpg) no-repeat left -33px;}
#jsyd_header{ background:url(/images/jsydhead_bg.jpg) no-repeat left -33px;}
#jsyd_header .navfrm .nav a{ color:#f2f5e9;padding:0 14px; padding:0 13px\9;}
#jsyd_header .navfrm .nav a:hover{ color:#FFF;}
#wskt_header{ background:url(/images/wskthead_bg.jpg) no-repeat left -33px;}
#wskt_header .navfrm .nav a{ color:#fef4e6;padding:0 11px; padding:0 10px\9;}
#wskt_header .navfrm .nav a:hover{ color:#FFF;}
/*国学堂*/
#gxt_header{ background:url(/images/gxthead_bg.jpg) no-repeat left -33px;}
/*家长学堂*/
#jzxt_header{ background:url(/images/jzxthead_bg.jpg) no-repeat left -33px;}
/*礼仪学堂*/
#lyxt_header{ background:url(/images/lyxthead_bg.jpg) no-repeat left -33px;}
/*美德少年*/
#mdsn_header{ background:url(/images/mdsnhead_bg.jpg) no-repeat left -33px;}
/*社会公益*/
#shgy_header{ background:url(/images/shgyhead_bg.jpg) no-repeat left -33px;}
/*思想道德平台*/
#sxdd_header{ background:url(/images/sxddhead_bg.jpg) no-repeat left -33px;}
/*我的祖国*/
#wdzg_header{ background:url(/images/wdzghead_bg.jpg) no-repeat left -33px;}
/*科技馆*/
#kjg_header{ background:url(/images/kjghead_bg.jpg) no-repeat left -33px;}
/*专题页*/
#zty_header{ background:url(/images/ztyhead_bg.jpg) no-repeat left -33px;}
/*列表内容页头部*/
.detailbanner{ width:998px; margin:0px auto; height:104px; padding:3px; background:url(/images/detail_banner.jpg) no-repeat left top;}
.detailtop{ width:1004px; height:60px;}
.detailtop .linkfrm{ float:left; width:1004px; height:63px;}
.detailtop .linkfrm dl{float:left;display:inline;}
.detailtop .linkfrm dl a{color:#297fa8;}
.detailtop .linkfrm dl a:hover{ color:#5a9800;}
.detailtop .linkfrm dl dt{float:left;line-height:24px;}
.detailtop .linkfrm dl dt a{ font-weight:bold;  font-size:13px;}
.detailtop .linkfrm dl dd{float:left;line-height:24px; padding:0 4px; display:inline;}
.detailtop .linkfrm dl dd a{font-size:12px;}
.detailtop .linkfrm .links4 dl dd{ padding-right:0;}

/*--------------Select color------------------*/
.dn1 { border: 1px solid #000;background: #FFCC99; height:auto;}
.dn1 ul{ padding:0px; margin:0px;text-align:left;width:100%;overflow: hidden;}
.dn1 ul li{margin:0; padding:0; list-style: none; width:100%; height:22px; cursor: default;color: #625074; background: #FFCC99;font-size:12px;line-height:22px;padding-left:6px;}
.dn1 ul li.on {color: #fff; background: #00f; font-size:12px; line-height:22px;text-align:left; float:left;}
.dn2 { border: 1px solid #000;}
.dn2 ul{ padding:0px; margin:0px;text-align:left;width:100%;overflow: hidden;}
.dn2 ul li{margin:0; padding:0; list-style: none;width:100%;height:22px;cursor: default;color: #625074; background: #FFCC99;font-size:12px;line-height:22px;padding-left:6px;}
.dn2 ul li.on {color: #fff; background: #00f; font-size:12px; line-height:22px;text-align:left; float:left;}
.dn3 { border: 1px solid #000;}
.dn3 ul{ padding:0px; margin:0px;text-align:left;width:100%;overflow: hidden;}
.dn3 ul li{margin:0; padding:0; list-style: none;width:100%;height:22px;cursor: default;color: #625074; background: #FFCC99;font-size:12px;line-height:22px;padding-left:6px;}
.dn3 ul li.on {color: #fff; background: #00f; font-size:12px; line-height:22px;text-align:left; float:left;}


.hdn1 { border: 1px solid #000;background: #FFCC99; height:auto;}
.hdn1 ul{ padding:0px; margin:0px;text-align:left;width:100%;overflow: hidden;}
.hdn1 ul li{margin:0; padding:0; list-style: none; width:100%; height:22px; cursor: default;color: #625074; background: #FFCC99;font-size:12px;line-height:22px;padding-left:6px;}
.hdn1 ul li.on {color: #fff; background: #00f; font-size:12px; line-height:22px;text-align:left; float:left;}

/*-----------Footer----------*/
.Footer{ width:1004px; height:80px;}
.Footer .linkfrm{ width:925px; height:62px; margin:0px auto; overflow:hidden;}
.Footer .linkfrm dl{float:left;display:inline;}
.Footer .linkfrm dl a{color:#2A550A;}
.Footer .linkfrm dl a:hover{ color:#fff;}
.Footer .linkfrm dl dt{float:left;line-height:24px;}
.Footer .linkfrm dl dt a{ font-weight:bold;  font-size:13px;}
.Footer .linkfrm dl dd{float:left;line-height:24px; padding:0 4px; display:inline;}
.Footer .linkfrm dl dd a{font-size:12px;}
.footers1,.footers2,.footers3,.footers4,.footers5{float:left; padding-top:2px;  padding-top:5px\9; display:inline;}
.footers1,.footers2,.footers3,.footers4{ background:url(/images/footer_line.jpg) no-repeat right top;}
.footers1{width:288px;}.footers2{width:200px;}.footers3{width:236px;}.footers4{width:125px;}.footers5{width:75px;}
.footers1 dl{width:280px;padding-left:8px;*padding-left:3px;_padding-left:3px;}
.footers2 dl{width:192px;*width:198px;_width:198px;padding-left:8px;*padding-left:3px;_padding-left:3px;}
.footers3 dl{width:228px;*width:234px;_width:234px;padding-left:8px;*padding-left:3px;_padding-left:3px;}
.footers4 dl{width:117px;*width:123px;_width:123px;padding-left:8px;*padding-left:3px;_padding-left:3px;}
.footers5 dl{width:67px;*width:73px;_width:73px;padding-left:8px;*padding-left:3px;_padding-left:3px;}
.footers1 dl dt{width:50px;}
.footers2 dl dt{width:60px;}
.footers3 dl dt{width:60px;}
.footers4 dl dt{width:35px;}
.header .linkfrm .footers4 dl dd{ padding-right:0;}
.footers5 dl dt{width:60px;}
#czls_Footer{ background:url(/images/footer_mapbg.jpg) no-repeat left top;}
#footerlinkbg{ background:url(/images/footer_linkbg.jpg) no-repeat left top; height:102px; overflow:hidden;}
.footerfrm{ width:908px; height:92px; margin:0px auto;overflow:hidden; padding-top:10px;}
.footerfrm dl{float:left;display:inline;}
.footerfrm dl dt{float:left;}
.footerfrm dl dt a{ font-weight:bold;  font-size:12px; text-align:left;}
.footerfrm dl dd{float:left;line-height:22px; padding:0 4px;display:block;}
.footerfrm dl dd a{font-size:12px;float:left; padding:0 4px;display:block;color:#2A550A;white-space:nowrap;}
.footerfrm dl dd a:hover{font-size:12px;color:#fff;display:block; background-color:#2A550A; white-space:nowrap;}
.clsTRSNavigatorDIV{display:none;}
/*内容页分页*/
.lista{ font-size:12px; color:#848484;line-height:23px; height:23px;}
.lista a{ font-size:12px; color:#848484;line-height:23px; height:23px;}
.lista a:hover{ font-size:12px; color:#848484;line-height:23px; height:23px; text-decoration:underline;}
span.pageup a{font-size:12px; color:#fff; background:url(/images/Message_pagedown.jpg) no-repeat left center;width:66px; height:23px; display:inline-block;margin:0px 5px 0px 5px; text-align:center; vertical-align:top; line-height:23px;}
span.pagedown a{font-size:12px; color:#fff; background:url(/images/Message_pagedown.jpg) no-repeat left center;width:66px; height:23px; display:inline-block;margin:0px 5px 0px 5px; text-align:center; vertical-align:top; line-height:23px;}
.numlist{ font-size:12px;color:#666;}
span.pageup a:hover{font-size:12px; color:#000; background:url(/images/Message_pagedown.jpg) no-repeat left center;width:66px; height:23px; display:inline-block;margin:0px 5px 0px 5px; text-align:center; vertical-align:top; line-height:23px;}
span.pagedown a:hover{font-size:12px; color:#000; background:url(/images/Message_pagedown.jpg) no-repeat left center;width:66px; height:23px; display:inline-block;margin:0px 5px 0px 5px; text-align:center; vertical-align:top; line-height:23px;}

.homeStatistics{background:url(/images/footer_bottombg.jpg) no-repeat left top; height:31px; line-height:31px; width:1004px; margin:0px auto; text-align:center;}
.homeStatistics div{width:120px; text-align:center; margin:0px auto;}
.homeStatistics div a img{ vertical-align:top; line-height:20px;}

.homebanner{ width:970px; margin:0px auto; height:111px; padding:3px; background:url(/images/home_banner.jpg) no-repeat left top;}
.homebanner1{ padding:3px; width:996px; height:103px; border-left:1px solid #E1E1E1; border-right:1px solid #E1E1E1;}


/*-----------top NAV----------*/
.nav_top{ width:1004px; height:64px;}
.nav_top .linkfrm{ width:1004px;margin:0px auto; overflow:hidden; padding-top:3px;}
.nav_top .linkfrm dl{float:left;display:inline;}
.nav_top .linkfrm dl a{color:#fff;}
.nav_top .linkfrm dl a:hover{ color:#fff;}
.nav_top .linkfrm dl dt{float:left;line-height:24px;}
.nav_top .linkfrm dl dt a{ font-weight:bold;  font-size:14px;}
.nav_top .linkfrm dl dd{float:left;line-height:24px; padding:0 3px; display:inline;}
.nav_top .linkfrm dl dd a{font-size:14px; color:#D1F3FF;}
.navtop1,.navtop2,.navtop3,.navtop4,.navtop5{float:left; padding-top:2px;  padding-top:5px\9; display:inline;}
.navtop1{width:320px;}.navtop2{width:223px;}.navtop3{width:250px;}.navtop4{width:133px;}.navtop5{ width:72px;}
.navtop1,.navtop2,.navtop3,.navtop4{ background:url(/images/home_l1.jpg) no-repeat right top;}
.navtop1 dl{width:320px;}
.navtop2 dl{width:223px;}
.navtop3 dl{width:250px; padding-left:3px;}
.navtop4 dl{width:133px;}
.navtop5 dl{width:72px;padding-left:3px;}
.navtop1 dl dt{width:70px;}
.navtop2 dl dt{width:70px;}
.navtop3 dl dt{width:60px;}
.navtop4 dl dt{width:35px;}
.nav_top .linkfrm .navtop4 dl dd{ padding-right:0;}
.navtop5 dl dt{width:60px;}
#TOP_NAV{ background:url(/images/home_navbg.jpg) no-repeat left top; height:64px;}
.homebannerbg{ background:url(/images/home_banner1.jpg) no-repeat left center; height:108px; margin-top:5px; width:1004px;}
.homebanner1{float:left; padding:0 0px 0 21px; display:inline; width:170px; height:100px; margin-top:4px;}
.homebanner1 img{width:170px; height:100px;}
.homebanner2{ float:left; width:599px; height:92px;display:inline;padding:0 0 0 13px;margin-top:8px;}
.homebanner2 img{width:599px; height:92px;}
.homebanner3{float:left; padding:0 0 0 13px; display:inline; width:170px; height:100px;margin-top:4px;}
.homebanner3 img{width:170px; height:100px;}